
    <  <div class="col-xs-6">
        <% for @t in @tweets %>
          <div class="panel panel-default">
            <div class="panel-body">
              <p><%= @t.message %></p>
            </div>
          </div>
          <% end %>
      </div>
    </div>
</div>
