<div class = "row">
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <p> Stats </p>
        </div>
      </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <p> Trending Barks</p>
            </div>
          </div>
        </div>
      <div class="col-xs-6">
        <%= render '/tweets/post_form' %><br><br>

        <% for @t in @tweets %>
          <div class="panel panel-default tweet-panel">
            <div class="panel-body row">
              <div class="col-sm-1">
                <img src="/wizicon.png"class="rounded-img" height="50px" width="50px"></img>
              </div>
              <div class="col-sm-11">
                <p class="tweet-title"><span class="tweet-owner"><%= User.find(@t.user_id).username %></span> <span class="tweet-creation"> - <%= @t.created_at.to_formatted_s(:short) %></span> </p>
                <p class="tweet-message"><%= @t.message %></p>
              </div>
              <div class="col-sm-12">
                <p class="tweet-links">

                  <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-thumbs-down g-links" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
                  <a href="">View Conversation</a>
                </p>

              </div>

            </div>
          </div>
          <% end %>
    </div>
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <p> About </p>
        </div>
      </div>
    </div>
</div>
