/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   background-color: rgba(179,204,226, 0.25);
   padding-top: 70px;
 }
 .rounded-img {
   border-radius: 5%;
 }
 .under {
   margin-top: 32%;
 }

 .navbar {
   background-color: white
 }
 .navbar-brand {
   margin-top: -.5%;
   height: 75px;
   width: 75px;
   position: absolute;
   left: 50%;
   margin-right: 25px !important;
   display: block;
 }
 .tweet-panel {
margin-top: -21px;
 }
 .tweet-title {
   text-align: left;
   margin-left: 15px;
 }
 .tweet-message {
   text-align: left;
   margin-left: 15px;
 }
.tweet-links {
  text-align: left;
}
.tweet-owner {
  color: black;
  font-weight: bold;
  }
  .tweet-creation {
    opacity: 0.25;
  }
  .g-links {
    opacity: 0.4;
    font-size: 120%;
    margin-right: 55px;
  }
  .post-form-panel {
    margin-bottom: -21px;
  }
  .panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
  }
  .panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
  }
  .panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
    overflow: hidden;
  }
  .panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
  }
  .panel-image.hide-panel-body ~ .panel-body {
    height: 0px;
    padding: 0px;
  }
  .panel-footer {
    background-color: white;
  }
  .home-avatar {
    margin-bottom: 25px;
    margin-left: 5px;
    margin-top: -30px;
  }
  .profile-banner {
    position: absolute;
    width: 100%;
    height: 500px;
    margin-top: -21px;

  }
