/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   background-color: rgba(179,204,226, 0.25);
 }
 .rounded-img {
   border-radius: 5%;
 }

 .navbar {
   background-color: white
 }
 .navbar-brand {
   position: absolute;
   left: 50%;
   margin-right: 25px !important;
   display: block;
 }
 .tweet-panel {
margin-top: -21px;
 }
 .tweet-title {
   text-align: left;
   margin-left: 15px;
 }
 .tweet-message {
   text-align: left;
   margin-left: 15px;
 }
.tweet-links {
  text-align: left;
}
.tweet-owner {
  color: black;
  font-weight: bold;
  }
  .tweet-creation {
    opacity: 0.25;
  }
  .g-links {
    opacity: 0.4;
    font-size: 120%;
    margin-right: 75px;
  }
